html {
    scroll-behavior: smooth;
}

#user {
    float: right;
    margin: 30px;
    font-size: 15px;
    color: white;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(background.jpg);
    background-repeat: no-repeat;
    background-size: 100% 750px;
    background-attachment: fixed;
    background-position: center;
    margin: 0;
}

#querybox, #userid {
    border-radius: 10px;
    border: 2px solid whitesmoke;
    padding: 10px;
    font-size: 20px;
    height:15px;
    width:200px;
    outline: none;
}

#centerpiece {
    font-size: 50px;
    text-align: center;
    margin-top: 150px;
    color: white;
}

main > section {
    margin-top: 50px;
    text-align: center;
}

#querybox {
    height: 20px;
    width: 35%;
    outline: none;
}


#location {
    color: gray;
    margin-top: 10px;
    border-radius: 10px;
    border: 2px solid whitesmoke;
    font-size: 15px;
    height:30px;
    width:17%;
    margin-bottom: 250px;
    margin-left: 0px;
    outline: none;
}

select option {
    color: black;
}

select option:first-child {
    color: gray;
}

#explanation {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: white;
    padding: 20px;
    border-radius: 25px;
}

#intro {
    font-size:x-large;
    font-weight: bold;
}

div {
    white-space: pre-wrap;
    background-color: white;
    border-radius: 25px;
    padding: 20px;
    text-align: left;
}

h1 {
    margin-top: 0;
}

p {
    margin: 0;
}