<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <meta name="Description" content="DSC180B Website"/>
        <meta name="Owners" content="A04 Capstone Group 01"/>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}"/>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <title>DSC180B Website</title>
        <header id="explanation">
            <h1 id="intro">
                Welcome to our Restaurant Recommender System!
            </h1>
            <p>
                The standard recommender system can be made using many different methods: Collaborative
                 Filtering, Alternating Least Squares, or K-Nearest Neighbors, and utilizing
                 features such as ratings, number of reviews, categories, genres, and other data that
                 could possibly be associated with a numerical value. However, there is a rarely used
                 feature that could change the game: Review Text! 
            </p>
        </header>
    </head>
    <body>
        <main>
            <section id="centerpiece">
                Restaurant Recommender System
            </section>
            <section id="query">
                <form id="query1" method="POST" onkeydown="return event.key != 'Enter';">
                    <input type="text" id="querybox" name="querybox" placeholder="What are you looking for?">
                    <button type="button" id="submit"><i class="fa fa-search"></i></button>
                    <br>
                    <button type="button" id="veganButton" value="OFF" onclick="toggle(this)" style="background-color: lightgray; color: black;">Vegetarian</button>
                    <button type="button" id="foodButton" name="foodButton" value="ON" onclick="toggle(this)">Food</button>
                    <button type="button" id="restaurantButton" value="OFF" onclick="toggle(this)" style="background-color: lightgray; color: black;">Restaurant</button>
                    <input type="checkbox" id="foodButtonCheck" name="foodButtonCheck" checked>
                    <input type="checkbox" id="restButtonCheck" name="restButtonCheck">
                    <select id="location" name="location" required>
                        <option disabled selected value>Where at?</option>
                        <option value="Las Vegas">Las Vegas</option>
                        <option value="Phoenix">Phoenix</option>
                    </select>
                </form>
            </section>
            <section id='results'>
                <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
                <script>
                    $(document).ready(function(){
                        /* On click, run the below code */
                        $("#submit").click(function(){ 
                            /* Get query, location, and button */
                            var location = document.getElementById('location').value;
                            if (location == "") {
                                alert("Please choose a location.")
                                return;
                            }
                            var querytext = document.getElementById('querybox').value;
                            var button_1 = document.getElementById('foodButton').value;
                            var vegan = document.getElementById('veganButton').value;

                            /* this is for displaying the link to the restaurant */
                            let business_pre = 'http://yelp.com/biz/';
                            let business_post = '/?show_platform_modal=True';

                            /* Send this information to python file */
                            req = $.ajax({
                                url: "/update",
                                type: "POST",
                                data: { querybox : querytext, location : location, foodButton : button_1, veganButton: vegan}
                            });

                            /* If the python file successfully processed the above information, do the code below */
                            req.done(function(data) {
                                /* Remove pre-existing results */
                                document.querySelectorAll('.result_div').forEach(e => e.remove());
                                document.querySelectorAll('.result_sep').forEach(e => e.remove());

                                /* Access the data passed in from the python file */
                                console.log()
                                vars = data['data'];
                                
                                if (button_1 == "ON") {
                                    /* For each restaurant, create a new div */
                                    for (var i in vars) {
                                        info = vars[i];
                                        /* For each div, add in paragraphs, each with info */
                                        var newElement = document.createElement('div');
                                        var restName = document.createElement('h1');
                                        var restCity = document.createElement('p');
                                        var restCats = document.createElement('p');
                                        var restStars = document.createElement('p');
                                        var goodService = document.createElement('p');
                                        var numMentions = document.createElement('p');
                                        var restWebsite = document.createElement('p');
                                        /* Fill paragraph elements with info */

                                        restName.innerHTML = info[1];
                                        restCity.innerHTML = "City: ".concat(info[4]);
                                        restCats.innerHTML = "Categories: ".concat(info[5]);
                                        restStars.innerHTML = "Stars: ".concat(info[6]);
                                        numMentions.innerHTML = "Number of Mentions: ".concat(info[7]);
                                        goodService.innerHTML = "Good Service: ".concat(info[8]);
                                        restWebsite.innerHTML = "Website: ".concat(business_pre.concat(info[2]).concat(business_post));
                                        /* Set up breaks and class ids and names */
                                        var elementSep = document.createElement('br');
                                        newElement.id = 'result_element';
                                        newElement.className = 'result_div';
                                        elementSep.className = 'result_sep';
                                        /* Append div to body, append info to div */
                                        document.body.appendChild(newElement);
                                        newElement.appendChild(restName);
                                        newElement.appendChild(restCity);
                                        newElement.appendChild(restCats);
                                        newElement.appendChild(restStars);
                                        newElement.appendChild(numMentions);
                                        newElement.appendChild(goodService);
                                        newElement.appendChild(restWebsite);
                                        fade_in(newElement);
                                        document.body.appendChild(elementSep);
                                    }
                                    scrolldown();

                                }
                                else{
                                    /* For each restaurant, create a new div */
                                    for (var i in vars) {
                                        info = vars[i];
                                        /* For each div, add in paragraphs, each with info */
                                        var newElement = document.createElement('div');
                                        var restName = document.createElement('h1');
                                        var restCats = document.createElement('p');
                                        var restStars = document.createElement('p');
                                        var address = document.createElement('p');
                                        var numMentions = document.createElement('p');
                                        var restWebsite = document.createElement('p');
                                        /* Fill paragraph elements with info */

                                        restName.innerHTML = info[0];
                                        address.innerHTML = "Restaurant Address: ".concat(info[1]);
                                        restStars.innerHTML = "Stars: ".concat(info[2].toFixed(2));
                                        numMentions.innerHTML = "Number of Reviews: ".concat(info[3]);
                                        restCats.innerHTML = "Categories: ".concat(info[4]);
                                        restWebsite.innerHTML = "Website: ".concat(business_pre.concat(info[5]).concat(business_post));
                                        
                                        /* Set up breaks and class ids and names */
                                        var elementSep = document.createElement('br');
                                        newElement.id = 'result_element';
                                        newElement.className = 'result_div';
                                        elementSep.className = 'result_sep';
                                        /* Append div to body, append info to div */

                                        document.body.appendChild(newElement);
                                        newElement.appendChild(restName);
                                        newElement.appendChild(address);
                                        newElement.appendChild(restStars);
                                        newElement.appendChild(numMentions);
                                        newElement.appendChild(restCats);
                                        newElement.appendChild(restWebsite);
                                        fade_in(newElement);
                                        document.body.appendChild(elementSep);
                                    }
                                    scrolldown();
                                }
                            });
                        })
                    })
                </script>
                <script src="{{ url_for('static', filename='results.js') }}" ></script>
            </section>
        </main>
    </body>
</html>